body{
/*	font-family: verdana,impact;
*/	background-color: grey;
}
#header{
	background-color: #E51E2B;
	color: white;
	font-style: italic;
	font-size:15px;
	text-align: center;
	padding: 2px;
	font-family: impact;
}
#container {
	background-color: #050B2B;
	margin-left: auto;
	margin-right: auto;
	width:100%;

}
#content{
	padding:5px;
}
#nav{
	float: left;
	color: #EDF5E1; 
	/*padding: 10px;*/
	margin: 0;
	width: 15%;
}
#nav .active{
background-color: #D4173F;
border: 1px solid #95afd8 ;
}
a{
	text-decoration: none;
     font-size: 25px;
     color: #EDF5E1;

}
ul li{
	list-style-type: none;
	padding:5px;
}

#main{
	color: #F8E9A1;
	float: right;
	width: 75%;
	/*margin-top: -170px;*/
	margin-bottom:-10px;
	padding: 0;
	font-family: courier;
}
#footer{
	background-color:  #495B53;
	clear:both;
	color: white;
	padding: 1px;
	text-align: center;
	font-size: 10px;
}